* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}


/* Style tab links */

.tablink {
    background-color: #F3C5C5;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #886F6F;
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {
    background-color: #FFFFF0;
}

#Laboratory {
    background-color: #FFFFF0;
}

#Contact {
    background-color: blue;
}

#About {
    background-color: orange;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFF0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #694E4E;
}

h2 {
    color: #DB7093;
}

h3 {
    color: #8B6969;
}

a h4 {
    color: #8B6969;
}

p {
    color: rgb(255, 255, 255);
    size: 1.5px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: #DB7093
}

a:hover {
    text-decoration: underline;
    color: #B03060;
}

;
.medium {
    border-width: medium;
    margin-left: 100%;
}

.outset {
    border-style: solid
}

.green {
    border-color: #8B6969
}

div a {
    text-decoration: none;
    color: #DB7093
}

div a:hover {
    text-decoration: underline;
    color: #B03060;
}

button a {
    color: black;
}

button a:hover {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #F3C5C5;
}